<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Customer Specific Data</h1>
    <div id="dataContainer">
        <canvas id="pieChart"></canvas>
        <canvas id="lineChart"></canvas>
    </div>
    <button onclick="window.history.back()">Go Back</button>
    <script src="{{ url_for('static', filename='details.js') }}"></script>
</body>
</html>
